---
import BusinessCard from '../components/BusinessCard.astro';
---


<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elizabeth - Hubsho</title>
</head>
<body class="bg-gray-50 md:flex md:items-center md:justify-center md:min-h-screen">
  <BusinessCard
    nombre="Elizabeth"
    puesto="Mobile Developer"
    empresa="Hubsho"
    foto="/team/elizabeth.jpg"
    logo="/logo.svg"
    telefono=""
    email="elizabeth@hubsho.com"
    sitioWeb="https://hubsho.com"
    linkedin=""
    whatsapp=""
    colorPrimario="purple"
  />
</body>
</html>
